<header id="top-header">
    <span class="siteName"><a class="homeLink" href='/' title='Return to home page'>CSE Motors</a></span>
    <div id="tools">
        <% if (!locals.loggedin) { %>
        <span class="accountLink"><a href="/client/login">My Account</a></span>
        <% } else { %>
        <span class="accountLink name"><a href="/client/">Welcome <%- locals.clientData.client_firstname %> </a></span>
        <span class="accountLink"><a href="/client/logout">Logout</a></span> <% } %> 
    </div>

</header>
