# Each item listed in this file will be ignored by git
# and will not be uploaded to github. The blank lines
# and comments are unnecessary, but included for 
# clarification.

# node_modules is a storage folder for Node and
# can get very large.
node_modules

# .env file is for local use only. It contains
# values not to be shared and most of the values
# will be manually created by you or dynamically # created on the hosting server
.env

# .DS_Store is only for Mac users
**/.DS_Store

READMD.md

# This file should never be altered
pnpm-lock.yaml

/.vscode/settings.json

{
    "sqltools.connections": [
        {
            "pgOptions": {
                "ssl": true
            },
            "previewLimit": 50,
            "server": "localhost",
            "driver": "PostgreSQL",
            "name": "render.com",
            "connectString": "postgres://cse340db:loDqO1vzSLr5BgSRW3HrQOqhmhi5YaBe@dpg-cfa86f6n6mpi1bllctog-a.oregon-postgres.render.com/cse340db_947o"
        }
    ]
}