/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

input:focus:required, textarea:focus:required {
  outline: solid red 2px;
 }

.big{
  font-size: larger; 
}

 .line{
  border: rgb(51, 51, 51) solid 2px;
  width: 100%;
 }

 input:required:valid, textarea:required:valid {
    outline: solid green 2px;
 }

header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  align-content: center;
}

.siteName a{
  font-size: 24pt;
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding-left: 20px;
}

p.copyright, .title{
  padding-left: 20px;
}

.accountLink a{
  font-size: 14pt;
  text-decoration: none;
  color: black;
}

nav{
  width:100%;
  height: 50px;
  background-color: #042940;
}

nav ul li a{
  margin: 18px 18px 18px 10px;
  font-size: 15pt;
  color: white;
  text-decoration: none;
}

nav ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding: 0;
  margin-top: 0;
}

.managementLinks {
  margin-left: 30px;
}

.inv-detail{
  display: grid;
  grid-template-rows: auto;
  gap: 20px;
}

.inv-detail img {
  border: black solid 2px;
  max-width: 100%;
  margin: 20px;
}

.details hr {
  border: black dashed 1px;
}

.notice{
  color: red;
  padding-left: 30px;
}

form {
  box-sizing: border-box;
  background-color: rgb(252, 250, 121);
  padding: 2rem;
  border: 4px solid gray;
  display: flex;
  flex-direction: column;
  margin: 30px;
  gap: 10px;
}

form input[type=submit]{
  width: 150px;
  /* margin: auto; */
  float: left;
}

form input, textarea, select{
  width: 300px;
}

.details {
  margin-left: 20px;
  margin-top: 20px;
  font-size: 15pt;
}

.vehicle {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 230px;
  border-radius: 5px;
  list-style: none;
  margin: 10px;
  padding: 15px;
}

.bold{
  font-weight: bold;
}

.vehicle a img {
  border: rgb(61, 61, 61) solid 0.5px;
}

.vehicle h2 a {
  text-decoration: none;
  font-size: 20px;
}

.vehicle a:visited{
  color: black
}

#inv-display{
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: space-around;
}

.front img {
  display: block;
  max-width: 90%;
  height: auto;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.advertise img{
  display: flex;
  width: 80%;
  height: auto;
  justify-content: flex-start;
  margin: 0;
}

.advertise{
  color: #005C53;
  position: absolute;
  margin-bottom: 3px;
  top: 200px;
  width: 30%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.562);
}

.advertise ul, .advertise h4{
  padding: 0;
  margin: 0;
}

.advertise h4 {
  font-weight: bold;
}

.advertise ul li{
  list-style: none;
}

.reviews ul li{
  padding: 8px 0px;

}

.reviews ul li, .upgrade a {
  font-size: 14pt;
}

.reviews ul{
  padding: 0px 15px;
  margin: 0;
}

.reviews h3{
  margin-top: 35px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 16pt;
}

.upgrade_boxes{
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 30px;
  margin-left: 30px;
}

.upgrade a {
  width: 150px;
  text-align: center;
  margin-top: 5px;
}

.upgrade{
  display: flex;
  width: 200px;
  align-items: center;
  flex-direction: column;
}

.upgrades_all{
  display: flex;
  flex-direction: column;
}

.upgrade img{
  background-color: rgb(176, 176, 231);
  padding: 15px 80px;
  height: 100px;
  border: black solid 1px;
}

@media screen and (min-width: 950px) {
  body {
    background-image: url("/images/site/small_check.jpg");
  }

  div#wrapper {
    background-color: white;
    margin:20px 120px;
    border: #DBF227 3px solid;
  }

  /* nav ul{
    display: flex;
    justify-content: space-between;
  } */

  header {
    padding-left: 0px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin: 0;
  }

  nav{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav ul{
    display: flex;
    align-content: center;
    margin: 0 15px;
  }

  .inv-detail{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 30px;
  }

  .details {
    margin-right: 50px;
    margin-left: 20px;
  }

  /* .form-center {
    display:flex;
    justify-items: center;
  } */



  .advertise {
    top: 300px;
    left: 150px;
    width: 200px;
  }

  .siteName a{
    padding-left: 20px;
  }

  .advertise img{
    width: 50%;
  }

  .large{
    display: flex;
    flex-direction: row-reverse;
    margin: 30px 0px;
    justify-content: space-between;
    
  }

  .u {
    grid-row: 1/2;
    grid-column: 1/3;
  }

  .upgrades{
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .reviews{
    grid-row: 1/2;
    grid-column: 2/3;
    padding-right: 100px;
  }

}