<!-- Content Heading -->
<% if (title) { %>
    <h1 class="title"><%= title %></h1>
    <% } else {
      res.redirect('/')
} %>

<% if (message) { %>
    <p class="notice"><%= message %></p>
<% } %>

<div class="form-center">
<form action="/inv/add-vehicle" method="post">
    <label for="invMake">Make</label>
    <input type="text" name="inv_make" id="invMake" required placeholder="Enter the vehicle's make">
    <label for="invModel">Model</label>
    <input type="text" name="inv_model" id="invModel" required placeholder="Enter the vehicle's model"> 
    <label for="invYear">Year</label>
    <input type="number" name="inv_year" id="invYear" required placeholder="Enter the vehicle's year">
    <label for="invDesc">Description</label>
    <textarea type="text" name="inv_description" id="invDesc" required placeholder="Enter the vehicle's description"></textarea>
    <label for="invPrice">Price</label>
    <input type="number" name="inv_price" id="invPrice" required placeholder="Enter the vehicle's price">
    <label for="invMiles">Miles</label>
    <input type="number" name="inv_miles" id="invMiles" required placeholder="Enter the vehicle's miles">
    <label for="invColor">Color</label>
    <input type="text" name="inv_color" id="invColor" required placeholder="Enter the vehicle's color">
    <label for="classificationId">Classification</label>
    <%- classifications %>
    <input type="submit" value="Add Vehicle">
</form>
</div>