<!-- Content Heading -->
<% if (title) { %>
    <h1 class="title"><%= title %></h1>
    <% } else {
      res.redirect('/')
} %>

<% if (message) { %>
    <p class="notice"><%= message %></p>
<% } %>

<p class="title"><a class="managementLinks" href="/inv/add-classification">Add New Classification</a></p>
<p class="title"><a class="managementLinks" href="/inv/add-vehicle">Add New Vehicle</a></p>

<div class="manageVehicles">
<h2 class="title">Manage Vehicles</h2>
<p class="managementLinks">Choose a classification to view the vehicles.</p>

<%- classificationSelect %>
<table id="inventoryDisplay"></table>
</div>
<noscript>JavaScript must be enabled to use this page.</noscript>

<script src="../../js/inventory.js"></script>