<!-- Content Heading -->
<% if (title) { %>
    <h1 class="title"><%= title %></h1>
    <% } else {
      res.redirect('/')
} %>

<% if (message) { %>
    <p class="notice"><%= message %></p>
<% } %>

<p class="title"><a class="managementLinks" href="/inv/add-classification">Add New Classification</a></p>
<p class="title"><a class="managementLinks" href="/inv/add-vehicle">Add New Vehicle</a></p>